<template>

  <div>
    <v-card>

      <v-tabs
        v-model="topTabs"
        align-with-title
        background-color="primary"
        center-active
        dark>
        <v-tabs-slider color="white"></v-tabs-slider>
        <!--keith repeat weeks-->
        <v-tab
          v-for="(topMenu,weekIndex) in moduleData.weekPages"
          :key="weekIndex">
          {{ topMenu.top_menu_name }}
        </v-tab>
      </v-tabs>

      <v-tabs-items v-model="topTabs">
        <!--       keith repeat menu from weeks object-->
        <v-tab-item
          v-for="(weekPage,weekIndex) in moduleData.weekPages"
          :key="weekIndex">

          <v-card>
            <v-tabs vertical v-model="sideTabs">
              <!--          keith    repeat this weeks left menu items-->
              <v-tab v-for="(singlePage,sideMenuIndex) in weekPage.submenu" :key="sideMenuIndex">
                <v-icon left>
                  {{ singlePage.icon }}
                </v-icon>
                {{ singlePage.name }}
              </v-tab>

              <!--         keith     repeat selected menu content-->
              <v-tab-item v-for="(SubmenuItems,sideMenuIndex) in weekPage.submenu_items" :key="sideMenuIndex">

                <v-card
                  class="pa-2 ma-4 my-4"
                  outlined
                  elevation="2"

                  v-for="(task,i) in SubmenuItems.tasks" :key="i">

                  <v-toolbar color="primary" flat>
                    <v-card-title class="white--text">{{ capitalize(task.title) }}</v-card-title>
                    <v-spacer></v-spacer>
                    <v-card-subtitle class="white--text">{{ capitalize(task.subtitle) }}</v-card-subtitle>
                  </v-toolbar>

                  <v-card-text v-html="task.content">{{ capitalize(task.content) }}</v-card-text>
                  <v-card-actions></v-card-actions>
                  <!--                  <button v-on:click="pushState"> Update url</button>-->
                </v-card>

              </v-tab-item>

            </v-tabs>
          </v-card>

        </v-tab-item>

      </v-tabs-items>

    </v-card>

  </div>
</template>

<script>

import { fbGetAllTree, fbGetSubTree } from '../plugins/dbOperations'

export default {
  name: 'Assignment5',
  data () {
    return {
      videoId: 'Ka_uOIf_v5g',

      sideTabs: null,
      topTabs: null,
      moduleData: {
        module_code: 'SX12',
        weekPages: [{
          top_menu_name: 'Overall',
          submenu: [{
            name: 'Announcements',
            icon: 'mdi-bullhorn'
          },
          {
            name: 'Instructions',
            icon: 'mdi-book-open-blank-variant'
          },
          {
            name: 'P2P Study',
            icon: 'mdi-forum'
          }
          ],
          submenu_items: [{
            tasks: [{
              title: 'Official results test Introduction to Programming',
              subtitle: '(January 12th, 2021 - retake)',
              content: "<div class=\"vtbegenerated\"> <p>Hello students (that participated in the retake of an Introduction to Programming)!</p> <p>In a few moments the final grades for Introduction Programming retake of January 12th 2021 will be published via Bison. For most of you the results will not be a surprise as the individual rubric scores have been on Blackboard for some time now.</p> <p>We would like to ask all students to check if we have entered your grade correctly based on the number of points. Blackboard is leading in this, so if your grade somehow is incorrect, please contact me (Tristan, t.pothoven@saxion.nl) as soon as possible.</p> <p>As far as the exam review is concerned, Introduction Programming will *not* make use of the scheduled exam review time in quartile 3. This is because your grade is already explained via Blackboard including our arguments.</p> <p>It is of course possible that you have questions about your result or that you suspect an error has been made somewhere. You can report this by sending me (Tristan) an email.&nbsp;</p> <p>I do ask however that you provide the following information:</p> <ul> <li>Which rubric line is it about? (functionality, data types, methods, if-statements, loops or lists)</li> <li>What is wrong with it? (unclear reasoning from us, too few points for reason X, etc.)</li> </ul> <p>(If you have questions on more than one topic, I would kindly request that you write this out per topic.)</p> <p>General remarks such as \"I disagree with the result\" without any further argumentation unfortunately cannot be discussed. So please be as explicit as possible.</p> <p><span style=\"color: #000000; font-family: 'Open Sans', sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: start; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: #ffffff; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;\">You will have 2 weeks to respond to your result in case of questions. This means that the official period of \"exam review\" now has begun and lasts until February 17th, 2021 after which all results are final.</span></p> <p>If you have any questions about the test or your grade, please feel free to send me an e-mail!</p> </div>"
            }]
          },
          {
            tasks: [{
              title: 'Course Manual',
              subtitle: '',
              content: "<div class=\"vtbegenerated\"> <p>Every IT-professional, at some point in his career, is most likely to encounter a process called <i>software development</i>. We consider the development of software to contain both the creation of new and the adjustment / personalization of existing software. Software development is usually done by a group of people called <i>software engineers</i>.&nbsp;</p> <p>Regardless of whether you strive to be a software engineer yourself, you are most likely to co-operate with them as a professional. And, to be able to communicate with them, you need to learn to speak their language. In this course we’re going to make a first effort in learning to write code, so that you have a better understanding of what it is to be a software engineer.</p> <p>During this course you’ll get acquainted with basic programming concepts, such as <i>variables</i>, <i>conditions</i>, <i>lists</i> and <i>loops</i> by accumulating some practical experience with programming (in Java). After this course you are able to write your own (small) Java programs!</p> <p>This course is taught using the Flipped Classroom method. This means that you are asked to prepare materials (study some material, do some assignments, etc.) in advance of the meeting.</p> <p>During this course we'll use a slightly different group-assignment than other courses. Please check the Announcements page for more information. (You need have signed in to this course to be able to read the announcements.)</p> <p>Later this quartile, we'll set up a Discord server that you can use to ask programming related questions</p> <p><br></p> <p><span style=\"text-decoration: underline;\">For this course we're using a slightly different group assignment than used in mentor groups. Please check out the first announcement on the \"Announcements\" page.</span></p> </div>"
            }]
          },
          {
            tasks: [{
              title: 'Ask your question here',
              subtitle: '',
              content: ''
            }]
          }
          ]
        },

        {
          top_menu_name: 'Lectures',
          submenu: [{
            name: 'Online Lectures',
            icon: 'mdi-cast-education'
          },
          {
            name: 'Recordings',
            icon: 'mdi-record-rec'
          }
          ],
          submenu_items: [{
            tasks: [{
              title: 'Sessions',
              subtitle: '',
              content: ''
            }
            ]
          },
          {
            tasks: [{
              title: 'Recordings',
              subtitle: '',
              content: ''
            }
            ]
          }
          ]
        },

        {
          top_menu_name: 'week 1',
          submenu: [
            {
              name: 'Materials',
              icon: 'mdi-briefcase'
            },
            {
              name: 'Videos',
              icon: 'mdi-video'
            },
            {
              name: 'Exercises',
              icon: 'mdi-book-open-variant'
            },
            {
              name: 'Homework',
              icon: 'mdi-book-open-outline'
            }
          ],
          submenu_items: [
            {
              tasks: [{
                title: 'Getting started',
                subtitle: '',
                content: "<div class=\"vtbegenerated\"> <div class=\"vtbegenerated_div\">During the first lecture we will install the required software together, but in case you are wondering we have created a step-by-step guide on how to install the software needed for this course.</div> <ol> <li>Head over to&nbsp;<a onclick=\"this.href='/webapps/blackboard/content/contentWrapper.jsp?content_id=_2872007_1&amp;displayName=Linked+File&amp;navItem=content&amp;attachment=true&amp;course_id=_40232_1&amp;tab_group=courses&amp;href=https%3A%2F%2Fwww.oracle.com%2Fnl%2Fjava%2Ftechnologies%2Fjavase-downloads.html';\" href=\"https://www.oracle.com/nl/java/technologies/javase-downloads.html\">https://www.oracle.com/nl/java/technologies/javase-downloads.html</a>and go download the <span style=\"text-decoration: underline;\"><strong>Java SE 11 (LTS) installer for your specific operating system</strong></span>. <ul> <li>You'll need to create an Oracle account and sign in to be able to download the installer.</li> </ul> </li> <li>Head over to&nbsp;<a onclick=\"this.href='/webapps/blackboard/content/contentWrapper.jsp?content_id=_2872007_1&amp;displayName=Linked+File&amp;navItem=content&amp;attachment=true&amp;course_id=_40232_1&amp;tab_group=courses&amp;href=https%3A%2F%2Fwww.jetbrains.com%2Fidea%2Fdownload';\" href=\"https://www.jetbrains.com/idea/download\">https://www.jetbrains.com/idea/download</a>&nbsp;and get <span style=\"text-decoration: underline;\"><strong>IntelliJ&nbsp;IDEA Community Edition for your specific operating system</strong></span>.</li> <li>Install the Java SE 11 development kit downloaded from step 1. <ul> <li>Unfortunately, there is no \"easy\" way to check whether or not the installation was a success. If the installer exitedwithout errors, you should assume everything is up and running. If your installer crashes, please contact your teacher.</li> </ul> </li> <li>Install IntelliJ&nbsp;IDEA Community Edition downloaded from step 2.</li> <li>Download the DemoProject.zip file (below) and extract it to somewhere you can easily find it.</li> <li>Open IntelliJ&nbsp;and select&nbsp;<em>open</em> and select the folder you extracted from the zipfile as discussed in step 5.</li> <li>Head over to \"1: Project\" (top left), open up \"Demo1\", open up \"src\" before double-clicking on \"Application\". <ul> <li>You might need to wait before IntelliJ&nbsp;has&nbsp;<em>indexed</em> the Java Development Kit. If you see a progressbar&nbsp;in the bottom, wait a moment! Be patient.</li> </ul> </li> <li>If everything worked out correctly, you should a green triangle that you can now click to run your program. If you can do so, your installation was succesful!</li> </ol> <div class=\"vtbegenerated_div\">Just to help out, we have created a video that shows all these steps and explains a little about what happens. Have a look at&nbsp;<a href=\"https://youtu.be/8Dp9jP56b4U\" title=\"Install JDK and IntelliJ\" target=\"_blank\" rel=\"noreferrer noopener\">https://youtu.be/8Dp9jP56b4U</a>.</div> </div>"
              },
              {
                title: 'Prepare',
                subtitle: '',
                content: "<div class=\"vtbegenerated\"> <div class=\"vtbegenerated_div\">We have created an overview of all competences in order that we suggest them,&nbsp;including the links to the sub pages.&nbsp;(You can also use the menu on the left.)</div> <div class=\"vtbegenerated_div\">Note that you are allowed to deviate from this plan (it's your study!),&nbsp;but realize you might run into problems as we created assignments within competences&nbsp;that may depend on previously attained competences.</div> </div>"
              }
              ]
            },
            {
              tasks: [{
                title: 'Installing Instruction',
                subtitle: '',
                content: 'HELLO'
              },
              {
                title: 'How to write code',
                subtitle: '',
                content: ''
              }
              ]
            },
            {
              tasks: [{
                title: 'Exercise 1',
                subtitle: 'basics',
                content: "<div class=\"vtbegenerated\"> <table border=\"0\"> <tbody> <tr> <td width=\"100px\" align=\"center\" valign=\"top\" style=\"font-size: 32px; line-height: 20px; color: #8ec030;\">★<span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; text-align: center;\"><span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;\">✩</span></span><span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;\">✩</span></td> <td> <div class=\"vtbegenerated_div\">Write a program that prints someones full name.</div> </td> </tr> <tr> <td>&nbsp;</td> <td> <div class=\"vtbegenerated_div\">For example:</div> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\">// In code: String lastName = \"Hageraats\" <br>// in code: String firstName = \"Esther\" <br>Your full name is Esther Hageraats<span color=\"#008000\" style=\"color: #008000;\"><i><br></i></span></pre> </td> </tr> </tbody> </table> </div>"
              },
              {
                title: 'Exercise 2',
                subtitle: 'intermediate',
                content: "<div class=\"vtbegenerated\"> <table border=\"0\"> <tbody> <tr> <td width=\"100px\" align=\"center\" valign=\"top\" style=\"font-size: 32px; line-height: 20px; color: #8ec030;\">★<span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; text-align: center;\">★</span><span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; text-align: center;\"><span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;\">✩</span></span></td> <td> <div class=\"vtbegenerated_div\">Write a program that creates 9 variables and prints the value of the variables on the right location of the gameboard.</div> <div class=\"vtbegenerated_div\">Tip: Choose a variable type that can hold '1', '2', 'X' and 'O'.</div> </td> </tr> <tr> <td>&nbsp;</td> <td> <div class=\"vtbegenerated_div\">For example:</div> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\"> 1 | 2 | 3<br>-----------<br> 4 | X | O<br>-----------<br> 7 | 8 | 9</pre> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\"><span style=\"color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;\">Or</span></pre> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\"> X | 2 | O<br>-----------<br> 4 | 5 | 6<br>-----------<br> 7 | X | O</pre> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\"></pre> </td> </tr> </tbody> </table> </div>"
              }
              ]
            },
            {
              tasks: [
                {
                  title: 'Homework 1',
                  subtitle: 'practice',
                  content: "<div class=\"vtbegenerated\"> <table border=\"0\"> <tbody> <tr> <td width=\"100px\" align=\"center\" valign=\"top\" style=\"font-size: 32px; line-height: 20px; color: #8ec030;\">★<span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; text-align: center;\">★</span>✩</td> <td> <div class=\"vtbegenerated_div\">Write a program that prompts the user for the current day and responds with a reaction to that day. You may define your own responses.</div> </td> </tr> <tr> <td>&nbsp;</td> <td> <div class=\"vtbegenerated_div\">For example:</div> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\">What is the current day? <em><span style=\"color: #008000;\">Monday</span></em>Aaaaaaaaaaaaaaaaaaaargh!</pre> <div class=\"vtbegenerated_div\">And:</div> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\">What is the current day? <em style=\"font-size: 16px;\"><span style=\"color: #008000;\">Friday<br></span></em>It's almost weekend!</pre> </td> </tr> </tbody> </table> </div>"
                },
                {
                  title: 'Homework 2',
                  subtitle: 'more practice',
                  content: "<div class=\"vtbegenerated\"> <table border=\"0\"> <tbody> <tr> <td width=\"100px\" align=\"center\" valign=\"top\" style=\"font-size: 32px; line-height: 20px; color: #8ec030;\">★<span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; text-align: center;\">★</span><span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; text-align: center;\">★</span></td> <td> <div class=\"vtbegenerated_div\">Write a program that calculates the amount of change (and corresponding coins/bills) given a certain purchase. First you should prompt for the amount due and amount paid. There are no bills / coins larger than 100 euro present in the store.</div> </td> </tr> <tr> <td>&nbsp;</td> <td> <div class=\"vtbegenerated_div\"><span style=\"font-family: monospace; font-size: 12pt; white-space: pre;\">Amount due (in cents):<em style=\"font-family: monospace; font-size: 12pt; white-space: pre;\"><span style=\"color: #008000;\">5215<br></span></em>Amount paid (in cents): <em><span style=\"color: #008000;\">10000<br></span></em>Change: 4785<br>100 euro: 0<br>50 euro: 0<br>20 euro: 2<br>10 euro: 0<br>5 euro: 1<br>2 euro: 1<br>1 euro: 0<br>50 cent: 1<br>20 cent: 1<br>10 cent: 1<br>5 cent: 1</span></div> </td> </tr> </tbody> </table> </div>"
                }
              ]
            }
          ]
        },
        {
          top_menu_name: 'week 2',
          submenu: [
            {
              name: 'Materials',
              icon: 'mdi-briefcase'
            },
            {
              name: 'Exercises',
              icon: 'mdi-book-open-variant'
            },
            {
              name: 'Homework',
              icon: 'mdi-book-open-outline'
            }
          ],
          submenu_items: [
            {
              tasks: [{
                title: 'Hello World!',
                subtitle: '',
                content: "<div class=\"content\"> <p id=\"what-is-hello-world\">A \"Hello, World!\" is a simple program that outputs <code>Hello, World!</code> on the screen. Since it's a very simple program, it's often used to introduce a new programming language to a newbie.</p><p>Let's explore how Java \"Hello, World!\" program works.</p><p class=\"note-tip\"><strong>Note:</strong> You can use our <a href=\"/java-programming/online-compiler/\">online Java compiler</a> to run Java programs.</p><hr><h2 id=\"source-code\">Java \"Hello, World!\" Program</h2><pre style=\"max-height: 600px;\"><code class=\"java hljs\"><span class=\"hljs-comment\">// Your First Program</span><span class=\"hljs-class\"><span class=\"hljs-keyword\">class</span> <span class=\"hljs-title\">HelloWorld</span> </span>{ <span class=\"hljs-function\"><span class=\"hljs-keyword\">public</span> <span class=\"hljs-keyword\">static</span> <span class=\"hljs-keyword\">void</span> <span class=\"hljs-title\">main</span><span class=\"hljs-params\">(String[] args)</span> </span>{ System.out.println(<span class=\"hljs-string\">\"Hello, World!\"</span>); }}</code></pre><p><strong>Output</strong></p><pre><samp>Hello, World!</samp></pre><hr><h2 id=\"how-hello-world-works\">How Java \"Hello, World!\" Program Works?</h2><ol><li><code>// Your First Program</code><br><br>In Java, any line starting with <code>//</code> is a comment. Comments are intended for users reading the code to understand the intent and functionality of the program. It is completely ignored by the Java compiler (an application that translates Java program to Java bytecode that computer can execute). To learn more, visit <a href=\"/java-programming/comments\">Java comments</a>.</li><li><code>class HelloWorld { ... }</code><br><br>In Java, every application begins with a class definition. In the program, <var>HelloWorld</var> is the name of the class, and the class definition is:<pre>class HelloWorld {... .. ...}</pre><br>For now, just remember that every Java application has a class definition, and the name of the class should match the filename in Java.</li><li><code>public static void main(String[] args) { ... }</code><br><br>This is the main method. Every application in Java must contain the main method. The Java compiler starts executing the code from the main method.<br><br><strong>How does it work?</strong> Good question. However, we will not discuss it in this article. After all, it's a basic program to introduce Java programming language to a newbie. We will learn the meaning of <code>public</code>, <code>static</code>, <code>void</code>, and <a href=\"/java-programming/methods\">how methods work</a>? in later chapters.<br><br>For now, just remember that the main function is the entry point of your Java application, and it's mandatory in a Java program. The signature of the main method in Java is:<pre>public static void main(String[] args) {... .. ...}</pre></li><li><code>System.out.println(\"Hello, World!\");</code><br>&nbsp;<p>The code above is a print statement. It prints the text <code>Hello, World!</code> to standard output (your screen). The text inside the quotation marks is called <a href=\"/java-programming/string\" title=\"Java String\">String in Java</a>.</p><p></p><div id=\"block-inject-1\" class=\"block-inject block-inject-1\"> <style> #div-gpt-ad-Programizcom37046 {display:none; width: 728px; height: 90px; } #div-gpt-ad-Programizcom36796 {display: block;} @media(min-width: 992px) { #div-gpt-ad-Programizcom37046 {display: block;} #div-gpt-ad-Programizcom36796 {display: none;}} </style> </div><div class=\"clearfix\"></div><p>Notice the print statement is inside the main function, which is inside the class definition.</p></li></ol><hr><h3 id=\"remember\">Things to take away</h3><ul><li>Every valid Java Application must have a class definition (that matches the filename).</li><li>The main method must be inside the class definition.</li><li>The compiler executes the codes starting from the main function.</li></ul><p>This is a valid Java program that does nothing.</p><pre style=\"max-height: 600px;\"><code class=\"java hljs\"><span class=\"hljs-keyword\">public</span> <span class=\"hljs-class\"><span class=\"hljs-keyword\">class</span> <span class=\"hljs-title\">HelloWorld</span> </span>{ <span class=\"hljs-function\"><span class=\"hljs-keyword\">public</span> <span class=\"hljs-keyword\">static</span> <span class=\"hljs-keyword\">void</span> <span class=\"hljs-title\">main</span><span class=\"hljs-params\">(String[] args)</span> </span>{ <span class=\"hljs-comment\">// Write your code here</span> }}</code></pre><p>Don't worry if you don't understand the meaning of <code>class</code>, <code>static</code>, methods, and so on for now. We will discuss it in detail in later chapters.</p> </div>"
              },
              {
                title: 'Exercise 2',
                subtitle: 'intermediate',
                content: "<div class=\"vtbegenerated\"> <table border=\"0\"> <tbody> <tr> <td width=\"100px\" align=\"center\" valign=\"top\" style=\"font-size: 32px; line-height: 20px; color: #8ec030;\">★<span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; text-align: center;\">★</span>✩</td> <td> <div class=\"vtbegenerated_div\">What are the values of the following expressions if you assume that&nbsp;&nbsp;<em>n = 17&nbsp;</em> en&nbsp;<em>m = 18</em> ?<br>(Try to reason about it first, than use your laptop to confirm.)</div> </td> </tr> <tr> <td>&nbsp;</td> <td> <ol style=\"list-style-type: lower-alpha;\"> <li><span style=\"font-family: 'courier new', courier;\"><strong>n / 10 + n % 20</strong></span></li> <li><strong><span style=\"font-family: 'courier new', courier;\">n % 2 + m % 20</span></strong></li> <li><span style=\"font-family: 'courier new', courier;\"><strong>(m + n) / 2</strong></span></li> <li><span style=\"font-family: 'courier new', courier;\"><strong>(m + n) / 2.0</strong></span></li> <li><span style=\"font-family: 'courier new', courier;\"><strong>(int) (0.5 * (m + n))</strong></span></li> </ol></td> </tr> </tbody> </table> </div>"
              }
              ]
            },
            {
              tasks: [{
                title: 'Exercise 1',
                subtitle: 'basics',
                content: "<div class=\"vtbegenerated\"> <table border=\"0\"> <tbody> <tr> <td width=\"100px\" align=\"center\" valign=\"top\" style=\"font-size: 32px; line-height: 20px; color: #8ec030;\">★<span style=\"color: #8ec030; font-family: 'Open Sans', sans-serif; font-size: 32px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;\">✩</span>✩</td> <td>Repeat the last exercise, but this make a nice prompt that asks the user for input.</td> </tr> <tr> <td>&nbsp;</td> <td> <div class=\"vtbegenerated_div\">For example:</div> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\">Who should I greet? <span style=\"color: #008000;\"><em>Ruud<br></em></span>Hello, Ruud</pre> </td> </tr> </tbody> </table> </div>"
              },
              {
                title: 'Exercise 2',
                subtitle: 'intermediate',
                content: "<div class=\"vtbegenerated\"> <table border=\"0\"> <tbody> <tr> <td width=\"100px\" align=\"center\" valign=\"top\" style=\"font-size: 32px; line-height: 20px; color: #8ec030;\">★<span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; text-align: center;\">★</span>✩</td> <td> <div class=\"vtbegenerated_div\">What are the values of the following expressions if you assume that&nbsp;&nbsp;<em>n = 17&nbsp;</em> en&nbsp;<em>m = 18</em> ?<br>(Try to reason about it first, than use your laptop to confirm.)</div> </td> </tr> <tr> <td>&nbsp;</td> <td> <ol style=\"list-style-type: lower-alpha;\"> <li><span style=\"font-family: 'courier new', courier;\"><strong>n / 10 + n % 20</strong></span></li> <li><strong><span style=\"font-family: 'courier new', courier;\">n % 2 + m % 20</span></strong></li> <li><span style=\"font-family: 'courier new', courier;\"><strong>(m + n) / 2</strong></span></li> <li><span style=\"font-family: 'courier new', courier;\"><strong>(m + n) / 2.0</strong></span></li> <li><span style=\"font-family: 'courier new', courier;\"><strong>(int) (0.5 * (m + n))</strong></span></li> </ol></td> </tr> </tbody> </table> </div>"
              }
              ]
            },
            {
              tasks: [{
                title: 'Homework 1',
                subtitle: 'practice',
                content: "<div class=\"vtbegenerated\"> <table border=\"0\"> <tbody> <tr> <td width=\"100px\" align=\"center\" valign=\"top\" style=\"font-size: 32px; line-height: 20px; color: #8ec030;\">★<span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; text-align: center;\">★</span><span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; text-align: center;\"><span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;\">✩</span></span></td> <td> <div class=\"vtbegenerated_div\">Write a program that creates 9 variables and prints the value of the variables on the right location of the gameboard.</div> <div class=\"vtbegenerated_div\">Tip: Choose a variable type that can hold '1', '2', 'X' and 'O'.</div> </td> </tr> <tr> <td>&nbsp;</td> <td> <div class=\"vtbegenerated_div\">For example:</div> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\"> 1 | 2 | 3<br>-----------<br> 4 | X | O<br>-----------<br> 7 | 8 | 9</pre> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\"><span style=\"color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;\">Or</span></pre> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\"> X | 2 | O<br>-----------<br> 4 | 5 | 6<br>-----------<br> 7 | X | O</pre> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\"></pre> </td> </tr> </tbody> </table> </div>"
              },
              {
                title: 'Homework 2',
                subtitle: 'more practice',
                content: "<div class=\"vtbegenerated\"> <table border=\"0\"> <tbody> <tr> <td width=\"100px\" align=\"center\" valign=\"top\" style=\"font-size: 32px; line-height: 20px; color: #8ec030;\">★<span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; text-align: center;\">★</span>✩</td> <td> <div class=\"vtbegenerated_div\">Write a program that translates regular numbers into roman numerals. Only translate the values 1 to 10. If you are unfamiliar with Roman numerals, check out&nbsp;<a href=\"https://en.wikipedia.org/wiki/Roman_numerals\" target=\"_blank\">Wikipedia</a>.</div> </td> </tr> <tr> <td>&nbsp;</td> <td> <div class=\"vtbegenerated_div\">For example:</div> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\">Enter a number between 1 and 10: <em><span style=\"color: #008000;\">5</span></em>Roman numeral value: V</pre> <div class=\"vtbegenerated_div\">And:</div> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\">Enter a number between 1 and 10: <em><span style=\"color: #008000;\">10</span></em>Roman numeral value: X</pre> </td> </tr> </tbody> </table> </div>"
              },
              {
                title: 'Homework 3',
                subtitle: 'more practice',
                content: "<div class=\"vtbegenerated\"> <table border=\"0\"> <tbody> <tr> <td width=\"100px\" align=\"center\" valign=\"top\" style=\"font-size: 32px; line-height: 20px; color: #8ec030;\">★<span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; text-align: center;\">★</span><span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;\">✩</span></td> <td> <div class=\"vtbegenerated_div\">Write a program that prints out someones personal information.</div> </td> </tr> <tr> <td>&nbsp;</td> <td> <div class=\"vtbegenerated_div\">For example:</div> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\">First name: <span color=\"#008000\" style=\"color: #008000;\"><i>Anneke</i></span>Last name: <span color=\"#008000\" style=\"color: #008000;\"><i>van Dalen<br></i></span>City: <span color=\"#008000\" style=\"color: #008000;\"><i>Utrecht</i></span></pre> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\">Hello Anneke van Dalen, you live in Utrecht.</pre> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\"></pre> </td> </tr> </tbody> </table> </div>"
              }
              ]
            }
          ]
        },
        {
          top_menu_name: 'week 3',
          submenu: [{
            name: 'Exercises',
            icon: 'mdi-book-open-variant'
          },
          {
            name: 'Homework',
            icon: 'mdi-book-open-outline'
          }
          ],
          submenu_items: [{
            tasks: [{
              title: 'Exercise 1',
              subtitle: 'basics',
              content: "<div class=\"vtbegenerated\"> <table border=\"0\"> <tbody> <tr> <td width=\"100px\" align=\"center\" valign=\"top\" style=\"font-size: 32px; line-height: 20px; color: #8ec030;\">★<span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; text-align: center;\">★</span><span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; text-align: center;\"><span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;\">✩</span></span></td> <td> <div class=\"vtbegenerated_div\">Write a program that simulates die tosses.</div> </td> </tr> <tr> <td>&nbsp;</td> <td> <div class=\"vtbegenerated_div\">For example:</div> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\">You threw the die!<br>It landed on: 6<br><br><span style=\"color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;\">Or</span></pre> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\">You threw the die!<br>It landed on: 3</pre> </td> </tr> </tbody> </table> </div>"
            },
            {
              title: 'Exercise 1',
              subtitle: 'intermediate',
              content: "<div class=\"vtbegenerated\"> <table border=\"0\"> <tbody> <tr> <td width=\"100px\" align=\"center\" valign=\"top\" style=\"font-size: 32px; line-height: 20px; color: #8ec030;\">★<span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; text-align: center;\">★</span><span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;\">★</span></td> <td> <div class=\"vtbegenerated_div\">In addition to the previous exercise, we will now introduce an additional constraint with regards to password selection. While previously it was allowed to switch between two passwords, you are now to create an additional check to keep a password history. You are not allowed to use the same and your previous password (the history only can hold 1 password).&nbsp; You must now have at least three passwords.</div> </td> </tr> <tr> <td>&nbsp;</td> <td><br> <div class=\"vtbegenerated_div\">For example:</div> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\">Initial password: <span style=\"color: #008000;\"><em>sheep</em></span><br>Please enter a new password: <span style=\"color: #008000;\"><em>gorilla<br></em></span>Please enter another password: <span style=\"color: #008000;\"><em style=\"font-size: 16px;\">sheep<br></em></span>Password rejected! The new password was used earlier!</pre> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\"><br>Or<br><br>Initial password: <span style=\"color: #008000;\"><em style=\"font-size: 16px;\">sheep<br></em></span>Please enter a new password: <span style=\"color: #008000;\"><em style=\"font-size: 16px;\">gorilla<br></em></span>Please enter another password: <span style=\"color: #008000;\"><em style=\"font-size: 16px;\">cow<br></em></span>Password changed!</pre> </td> </tr> </tbody> </table> </div>"
            }
            ]
          },
          {
            tasks: [{
              title: 'Homework 1',
              subtitle: 'practice',
              content: "<div class=\"vtbegenerated\"> <table border=\"0\"> <tbody> <tr> <td width=\"100px\" align=\"center\" valign=\"top\" style=\"font-size: 32px; line-height: 20px; color: #8ec030;\">★<span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; text-align: center;\">★</span><span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; text-align: center;\">★</span></td> <td> <div class=\"vtbegenerated_div\">Write a program that simulates a horse race. In this race, only two horses compete.</div> <div class=\"vtbegenerated_div\">The \"path\" that the horses need to take is exactly 50 steps long. Each horse may take 2-4 steps (this is random) per turn. At the end of the program, the winning horse will be shown.</div> </td> </tr> <tr> <td>&nbsp;</td> <td> <div class=\"vtbegenerated_div\"><span style=\"font-family: monospace; font-size: 12pt; white-space: pre;\">Let's start the race!</span></div> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\">[H.................................................]<br>[H.................................................]<br><br>Round 1:<br>[..H...............................................] (+2)<br>[...H..............................................] (+3)</pre> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\">Round 2:<br style=\"font-family: 'Open Sans', sans-serif; text-shadow: none !important; letter-spacing: normal !important;\">[......H...........................................] (+4)<br style=\"font-family: 'Open Sans', sans-serif; text-shadow: none !important; letter-spacing: normal !important;\">[.....H............................................] (+2)</pre> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\">... etc<br><br>Round 17:</pre> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\">[.................................................H] (+4)<br>[...............................................H..] (+2)<br><br>Horse 1 reached the finish line first!</pre> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\"></pre> </td> </tr> </tbody> </table> </div>"
            },
            {
              title: 'Homework 2',
              subtitle: 'more practice',
              content: "<div class=\"vtbegenerated\"> <table border=\"0\"> <tbody> <tr> <td width=\"100px\" align=\"center\" valign=\"top\" style=\"font-size: 32px; line-height: 20px; color: #8ec030;\">★<span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none;\">★</span><span style=\"color: #8ec030; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 32px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; orphans: 2; text-align: center; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none;\">★</span></td> <td> <div class=\"vtbegenerated_div\">Write a program that draws out a full pyramid.</div> </td> </tr> <tr> <td>&nbsp;</td> <td> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\"><span style=\"font-family: inherit; text-shadow: none !important; letter-spacing: normal !important; margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: inherit; font-style: inherit; font-size: 16px; color: #000000;\">Heigth? <span style=\"color: #008000;\">3</span></span><span style=\"font-size: 16px; white-space: pre; color: #008000;\"><em style=\"margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: inherit; font-style: italic; font-family: inherit; font-size: 16px;\"><br></em></span></pre> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\"> #<br> ###<br>#####</pre> <div class=\"vtbegenerated_div\"><strong><span style=\"font-family: 'courier new', courier;\"><span style=\"color: #000000; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: normal; letter-spacing: normal; line-height: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; display: inline !important; float: none;\">Or</span></span></strong></div> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\"><span style=\"color: #000000;\">Heigth? </span><span style=\"color: #008000;\"><em style=\"margin: 0px; padding: 0px; border: 0px; outline: 0px; font-weight: inherit; font-style: italic; font-family: inherit; font-size: 16px;\">5</em></span></pre> <pre style=\"display: block; font-family: monospace; white-space: pre; margin: 1em 0; font-size: 12pt;\"> #<br> ###<br> #####<br> #######<br>#########</pre> </td> </tr> </tbody> </table> </div>"
            }
            ]
          }
          ]
        },
        {
          top_menu_name: 'Extra',
          submenu: [{
            name: 'Sample tests',
            icon: 'mdi-file'
          },
          {
            name: 'Extra practise',
            icon: 'mdi-lightbulb-multiple-outline'
          }
          ],
          submenu_items: [{
            tasks: [{
              title: 'Sample tests',
              subtitle: '',
              content: ''
            }
            ]
          },
          {
            tasks: [{
              title: 'Extra - 1 : Find the missing break in switch case construct',
              subtitle: '',
              content: ' Can you spot the missing \'break\' in this code? <div><div id="highlighter_464627" class="syntaxhighlighter java"><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="gutter"><div class="line number1 index0 alt2">1</div><div class="line number2 index1 alt1">2</div><div class="line number3 index2 alt2">3</div><div class="line number4 index3 alt1">4</div><div class="line number5 index4 alt2">5</div><div class="line number6 index5 alt1">6</div><div class="line number7 index6 alt2">7</div><div class="line number8 index7 alt1">8</div><div class="line number9 index8 alt2">9</div><div class="line number10 index9 alt1">10</div><div class="line number11 index10 alt2">11</div><div class="line number12 index11 alt1">12</div><div class="line number13 index12 alt2">13</div><div class="line number14 index13 alt1">14</div><div class="line number15 index14 alt2">15</div><div class="line number16 index15 alt1">16</div><div class="line number17 index16 alt2">17</div><div class="line number18 index17 alt1">18</div><div class="line number19 index18 alt2">19</div><div class="line number20 index19 alt1">20</div><div class="line number21 index20 alt2">21</div><div class="line number22 index21 alt1">22</div></td><td class="code"><div class="container"><div class="line number1 index0 alt2"><code class="java plain">Scanner scanner = </code><code class="java keyword">new</code> <code class="java plain">Scanner(System.in);</code></div><div class="line number2 index1 alt1"><code class="java keyword">int</code> <code class="java plain">option = scanner.nextInt();</code></div><div class="line number3 index2 alt2">&nbsp;</div><div class="line number4 index3 alt1"><code class="java keyword">switch</code> <code class="java plain">(option) {</code></div><div class="line number5 index4 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java keyword">case</code> <code class="java value">1</code><code class="java plain">:</code></div><div class="line number6 index5 alt1"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">System.out.println(</code><code class="java string">"1 -&gt; New"</code><code class="java plain">);</code></div><div class="line number7 index6 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java keyword">break</code><code class="java plain">;</code></div><div class="line number8 index7 alt1"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java keyword">case</code> <code class="java value">2</code><code class="java plain">:</code></div><div class="line number9 index8 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">System.out.println(</code><code class="java string">"2 -&gt; Edit"</code><code class="java plain">);</code></div><div class="line number10 index9 alt1"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java keyword">break</code><code class="java plain">;</code></div><div class="line number11 index10 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java keyword">case</code> <code class="java value">3</code><code class="java plain">:</code></div><div class="line number12 index11 alt1"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">System.out.println(</code><code class="java string">"3 -&gt; Delete"</code><code class="java plain">);</code></div><div class="line number13 index12 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java keyword">break</code><code class="java plain">;</code></div><div class="line number14 index13 alt1"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java keyword">case</code> <code class="java value">4</code><code class="java plain">:</code></div><div class="line number15 index14 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">System.out.println(</code><code class="java string">"4 -&gt; View"</code><code class="java plain">);</code></div><div class="line number16 index15 alt1"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java keyword">break</code><code class="java plain">;</code></div><div class="line number17 index16 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java keyword">case</code> <code class="java value">5</code><code class="java plain">:</code></div><div class="line number18 index17 alt1"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">System.out.println(</code><code class="java string">"5 -&gt; Quit"</code><code class="java plain">);</code></div><div class="line number19 index18 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java keyword">default</code><code class="java plain">:</code></div><div class="line number20 index19 alt1"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">System.out.println(</code><code class="java string">"Unknown command"</code><code class="java plain">);</code></div><div class="line number21 index20 alt2">&nbsp;</div><div class="line number22 index21 alt1"><code class="java plain">}</code></div></div></td></tr></tbody></table></div></div> Let run the code and enter 5 as input and you will get the following output: <div><div id="highlighter_160774" class="syntaxhighlighter text"><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="gutter"><div class="line number1 index0 alt2">1</div><div class="line number2 index1 alt1">2</div></td><td class="code"><div class="container"><div class="line number1 index0 alt2"><code class="text plain">5 -&gt; Quit</code></div><div class="line number2 index1 alt1"><code class="text plain">Unknown command</code></div></div></td></tr></tbody></table></div></div> Answer: It’s because there is a missing break in the 5th case, so the execution falls through to the default case. Here’s the correction: <div><div id="highlighter_291677" class="syntaxhighlighter java"><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="gutter"><div class="line number1 index0 alt2">1</div><div class="line number2 index1 alt1">2</div><div class="line number3 index2 alt2">3</div><div class="line number4 index3 alt1">4</div><div class="line number5 index4 alt2">5</div></td><td class="code"><div class="container"><div class="line number1 index0 alt2"><code class="java keyword">case</code> <code class="java value">5</code><code class="java plain">:</code></div><div class="line number2 index1 alt1"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">System.out.println(</code><code class="java string">"5 -&gt; Quit"</code><code class="java plain">);</code></div><div class="line number3 index2 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java keyword">break</code><code class="java plain">;</code></div><div class="line number4 index3 alt1"><code class="java keyword">default</code><code class="java plain">:</code></div><div class="line number5 index4 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">System.out.println(</code><code class="java string">"Unknown command"</code><code class="java plain">);</code></div></div></td></tr></tbody></table></div></div>'
            },
            {
              title: 'Extra - 2 : Using = or ==',
              subtitle: '',
              content: 'Spot the mistake: <div><div id="highlighter_358514" class="syntaxhighlighter java"><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="gutter"><div class="line number1 index0 alt2">1</div><div class="line number2 index1 alt1">2</div><div class="line number3 index2 alt2">3</div><div class="line number4 index3 alt1">4</div><div class="line number5 index4 alt2">5</div><div class="line number6 index5 alt1">6</div><div class="line number7 index6 alt2">7</div><div class="line number8 index7 alt1">8</div></td><td class="code"><div class="container"><div class="line number1 index0 alt2"><code class="java plain">Scanner scanner = </code><code class="java keyword">new</code> <code class="java plain">Scanner(System.in);</code></div><div class="line number2 index1 alt1"><code class="java keyword">int</code> <code class="java plain">number = scanner.nextInt();</code></div><div class="line number3 index2 alt2">&nbsp;</div><div class="line number4 index3 alt1"><code class="java keyword">if</code> <code class="java plain">(number = </code><code class="java value">1</code><code class="java plain">) {</code></div><div class="line number5 index4 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">System.out.println(</code><code class="java string">"Choose 1"</code><code class="java plain">);</code></div><div class="line number6 index5 alt1"><code class="java plain">} </code><code class="java keyword">else</code> <code class="java plain">{</code></div><div class="line number7 index6 alt2"><code class="java spaces">&nbsp;&nbsp;&nbsp;&nbsp;</code><code class="java plain">System.out.println(</code><code class="java string">"Choose other"</code><code class="java plain">);</code></div><div class="line number8 index7 alt1"><code class="java plain">}</code></div></div></td></tr></tbody></table></div></div> Answer: number = 1 is an assignment not a comparison, thus the compiler detects this mistake easily. Correction: <div><div id="highlighter_368846" class="syntaxhighlighter java"><table border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="gutter"><div class="line number1 index0 alt2">1</div></td><td class="code"><div class="container"><div class="line number1 index0 alt2"><code class="java keyword">if</code> <code class="java plain">(number == </code><code class="java value">1</code><code class="java plain">) {</code></div></div></td></tr></tbody></table></div></div> '
            }
            ]
          }
          ]
        }

        ]

      }

    }
  },
  watch: {
    topTabs: function () {
      this.sideTabs = 0
    }

  },
  methods: {
    pushState () {
      const state = { page_id: 1, user_id: 5 }
      const title = ''
      const url = '/course-code/intro-to-programming/week-1/assignment-2'
      history.pushState(state, title, url)
    },
    capitalize (string) {
      return string.charAt(0).toUpperCase() + string.slice(1)
    },
    async getAllData () {
      const dbData = await fbGetAllTree('modules')
      this.moduleData = dbData
    },

    async getSingleData () {
      const dbData = await fbGetSubTree('modules', '-McOUUol60Ej1MOvcre5')
      this.moduleData = dbData
    }

  }

}
</script>
