<template>
  <v-card
    class="mx-auto my-4"
    color="primary"
    dark
    max-width="1000"
  >
    <v-card-title>
      <v-icon
        large
        left
      >
        mdi-library
      </v-icon>
      <span class="text-h6 font-weight-light">   Saxion {{ $t("Newspaper") }}  </span>
    </v-card-title>

    <v-card-text class="text-h5 font-weight-bold" v-text="newsItems[0].content">

    </v-card-text>

    <v-card-actions>
      <v-list-item class="grow">
        <v-list-item-avatar color="grey darken-3">
          <v-img
            class="elevation-6"
            alt=""
            src="https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Black&facialHairType=Blank&clotheType=Hoodie&clotheColor=White&eyeType=Default&eyebrowType=DefaultNatural&mouthType=Default&skinColor=Light"
          ></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title>Saxion Teacher</v-list-item-title>
        </v-list-item-content>

        <v-row
          align="center"
          justify="end"
        >
          <v-icon class="mr-1">
            mdi-heart
          </v-icon>
          <span class="subheading mr-2">256</span>
          <span class="mr-1">·</span>
          <v-icon class="mr-1">
            mdi-share-variant
          </v-icon>
          <span class="subheading">45</span>
        </v-row>
      </v-list-item>
    </v-card-actions>
  </v-card>
</template>

<script>
import firebase from 'firebase/app'

export default {
  data () {
    return {
      newsItems: [{
        news_id: 1,
        title: 'Looking for a minor?',
        content: "Will you be taking a minor in term 1 or 2 next academic year (2021-2022)? Saxion University of Applied Sciences has extended the registration period until Friday 2. Good news for anyone who is still looking for a minor. Moreover, a number of popular minors now have extra spots! For example, take a look at:  Digital Business Models & Blockchain Liberal Arts & Sciences Digital Intelligence Supply Chain Management You can also choose from one of the other minors at Saxion. Go to saxion.nl/minors to discover Saxion's complete (English) minors offer.   Are you studying elsewhere? Saxion offers you all kind of minors for not only our own students but also for students from other universities or institutes for higher education. For example Sustainable Beauty, Conscious Business or Cyber Security. Take a look at Saxion.nl/minors and discover all possibilities.   COVID-19 and starting a minor Are you falling behind on your first year of the programme due to the COVID-19 measures? You might be able to take a minor anyway. Please contact your minor coordinator to get advice on your personal situation.",
        author_name: 'Saxion Teacher',
        image_source: 'https://pbs.twimg.com/media/BxFAKlxCYAErfXw.png'
      }, {
        news_id: 2,
        title: 'Invest in your future: register now for these fascinating workshops',
        content: "As a student, you want to be well prepared for the next step in your career. Are you considering further study, looking for a job or starting your own business? Or are you not sure yet what's best for you? Maybe you would like more insight into who you are, what you want and what you can do. Or perhaps you would just like some useful tips for your CV or cover letter. All this and more?  Saxion Career Services has arranged various workshops and events especially for you, to help you with any questions you might have related to your career. You will be informed and inspired.  Places are limited, so please register now! Don't miss out!  Workshops and online meetings  Workshop Intercultural communication 11 June Career café: get in touch with the professional field on 15 & 24 June Lunch Lecture: Ten top tips from Recruitment (NL/EN) 18 June Saxion Career Services Is our platform where students can find experts and peers who will help you find an answer to all your questions about jobs, careers, etc.",
        author_name: 'Saxion Student',
        image_source: 'https://www.saxion.edu/binaries/content/gallery/saxion-edu/images/scholarships-for-international-students-in-the-netherlands.png'
      }],
      db: firebase.database()
    }
  },

  methods: {
    getFBData () {
      const starCountRef = this.db.ref('news')
      starCountRef.on('value', (snapshot) => {
        const data = snapshot.val()
        this.newsItems = data
      })
    }
  },

  mounted: function () {
    this.getFBData()
  }

}
</script>

<style scoped>

</style>
