<template>

  <v-container>

    <v-row no-gutters>

      <v-col
        sm="12"
        md="4"
        class="pa-1"
      >
        <NewsListTuan v-bind:newsItems="newsItems"></NewsListTuan>
      </v-col>

      <v-col

        sm="12"
        md="8"
        class="pa-1"
      >
        <NewsInfoTuan v-bind:newsItem="newsItem"></NewsInfoTuan>
      </v-col>

    </v-row>

  </v-container>

</template>

<script>
import NewsInfoTuan from '../components/NewsInfoTuan'
import NewsListTuan from '../components/NewsListTuan'

export default {
  name: 'NewsViewTuan',
  components: { NewsListTuan, NewsInfoTuan },
  data () {
    return {
      newsItems: [
        {
          title: 'Student job opportunity for current students of Saxion',
          slug: 'news-1',
          author: 'Frankie De Jong',
          image_source: 'https://mir-s3-cdn-cf.behance.net/project_modules/disp/20f0cd40760693.578c9a46841f5.gif',
          content: '<div dynamic-html="" class="cms-content"><p><img src="https://cdn.synigopulse.com/media2/cms/71741/studentshiringstudentteamsio.png/?width=479&amp;height=319&amp;mode=max" alt="Group students outside the school building" width="479" height="319" data-udi="umb://media/609e38493dda4f33acd2a2c5cb6d2094"></p><p style="text-align: left;"><strong>Are you an (international) student of Saxion, looking for a professional challenge?</strong></p><p style="text-align: left;">Then apply now for one of our student teams and get valuable work experience! A pleasant work environment, training and the outstanding development of your soft skills within a great team await you.</p><p style="text-align: left;">We are looking for students for two different teams within the International Office of Saxion: Student Assistants and Student Ambassadors. Both teams will work closely with the teams Student Recruitment Marketing and Student Services, but then with a different focus:</p><ul style="text-align: left;"><li><strong>Student Assistants (International and Dutch applicants wanted)<br></strong>This team will consist of members that together will work on projects to assist in organizing different activities for the recruitment and service for potential students from abroad. The main focus areas will be:<br><br><ul><li>Support in maintaining our website</li><li>Support in event planning</li><li>Support in the coordination of student ambassadors</li><li>Support in content creation</li><li>Support in helpdesk activities</li></ul></li></ul><p style="text-align: left;">Candidates for this team ideally need to have first experience or at least an affinity for one of these areas. The exact roles and responsibilities are still being developed and will partly also depend on the available candidates.</p><p style="text-align: left;">However, for all of those positions you need to be…</p><p style="text-align: left;">…able to work within a team, but also independently if necessary</p><p style="text-align: left;">…creative and think out of the box</p><p style="text-align: left;">…able to work independently and accurately</p><p style="text-align: left;">…aware of the influence of culture in international collaboration</p><p style="text-align: left;">…committed to the job with ideally no major side activities next to your studies</p><p style="text-align: left;">…socially skilled and communicating effectively in English – both spoken and written</p><p style="text-align: left;">…able to deliver what you promise</p><p style="text-align: left;">…able to take the lead if necessary</p><p style="text-align: left;">…confident and able to bring in your perspective during meetings, even with senior colleagues</p><p style="text-align: left;">…at least a second year student at Saxion in September 2021</p><p style="text-align: left;">…living in one of our Saxion locations until at least July 2022<br><br></p><ul style="text-align: left;"><li><strong>Student Ambassadors (International applicants wanted)</strong></li></ul><p style="text-align: left;">This team will be the international face of Saxion and will be welcoming, accompanying and helping potential international students during numerous off- and online activities during their study choice and the run-up to their study at Saxion. Also the ambassadors will contribute to the content creation for our international communication channels, both by writing testimonials and starring in videos about their experiences and the international student life at Saxion. We need ambassadors from all of our English-taught study programmes. To become an international student ambassador, you need to be…</p><p style="text-align: left;">...socially skilled and communicating effectively in English – both spoken and written</p><p style="text-align: left;">…confident and outgoing while talking to different people</p><p style="text-align: left;">…willing to stand in front of both a live audience or a camera</p><p style="text-align: left;">…able to work under stress</p><p style="text-align: left;">…convinced and enthusiast about their study at Saxion</p><p style="text-align: left;">…ready to travel (depending of the Coronavirus development)</p><p style="text-align: left;">…at least a second year student at Saxion in September 2021</p><p style="text-align: left;">…ideally living in one of our Saxion locations until at least July 2022</p><p style="text-align: left;"><strong>The application deadline is Monday, 5<sup>th</sup> of July</strong>. In order to apply, please fill in the application form which you can find via this link:</p><p style="text-align: left;"><br><span><a rel="noopener" href="https://saxion.eu.qualtrics.com/jfe/form/SV_02k6SmBlfg7DLo2" target="_blank"><strong>&lt; LINK TO THE APPLICATION FORM &gt;</strong></a><br><br></span> <span><a href="https://saxion.eu.qualtrics.com/jfe/form/SV_02k6SmBlfg7DLo2" target="_blank"></a></span></p><p style="text-align: left;">After we have received these documents and we think there might be a good fit, we would like to meet you in person (or a video conference call) for a job interview.&nbsp; Successful candidates will be offered a temporary contract within the student pool of the Saxion department OSS for a period of 1 year.</p><p style="text-align: left;">We hope to meet you soon!</p><p style="text-align: left;">The department \'Education and Student Support (OSS)\' is one of Saxion\'s supporting service departments . OSS creates the conditions in which all students can get the most out of their talent and programmes can excel. OSS is the partner for development, innovation and quality in education and research. Our student services support an optimal study career and prepare for the challenges of society. OSS is the self-evident, accessible expert and valued partner for students, study programmes and research groups ensuring access to and delivery of demonstrably high-quality education and research.</p><p style="text-align: left;">Would you like to know more about one of these roles or teams?<br>Please contact Artur Jarosiewicz, (International Student Recruiter) via <span><a href="mailto:a.d.jarosiewicz@saxion.nl" target="_blank">a.d.jarosiewicz@saxion.nl</a></span>.</p><p style="text-align: left;">&nbsp;<span><sn-immersive-reader content="<p><img src=\'https://cdn.synigopulse.com/media2/cms/71741/studentshiringstudentteamsio.png/?width=479&amp;height=319&amp;mode=max\' alt=\'Group students outside the school building\' width=\'479\' height=\'319\' data-udi=\'umb://media/609e38493dda4f33acd2a2c5cb6d2094\' /></p><p style=\'text-align: left;\'><strong>Are you an (international) student of Saxion, looking for a professional challenge?</strong></p><p style=\'text-align: left;\'>Then apply now for one of our student teams and get valuable work experience! A pleasant work environment, training and the outstanding development of your soft skills within a great team await you.</p><p style=\'text-align: left;\'>We are looking for students for two different teams within the International Office of Saxion: Student Assistants and Student Ambassadors. Both teams will work closely with the teams Student Recruitment Marketing and Student Services, but then with a different focus:</p><ul style=\'text-align: left;\'><li><strong>Student Assistants (International and Dutch applicants wanted)<br /></strong>This team will consist of members that together will work on projects to assist in organizing different activities for the recruitment and service for potential students from abroad. The main focus areas will be:<br /><br /><ul><li>Support in maintaining our website</li><li>Support in event planning</li><li>Support in the coordination of student ambassadors</li><li>Support in content creation</li><li>Support in helpdesk activities</li></ul></li></ul><p style=\'text-align: left;\'>Candidates for this team ideally need to have first experience or at least an affinity for one of these areas. The exact roles and responsibilities are still being developed and will partly also depend on the available candidates.</p><p style=\'text-align: left;\'>However, for all of those positions you need to be…</p><p style=\'text-align: left;\'>…able to work within a team, but also independently if necessary</p><p style=\'text-align: left;\'>…creative and think out of the box</p><p style=\'text-align: left;\'>…able to work independently and accurately</p><p style=\'text-align: left;\'>…aware of the influence of culture in international collaboration</p><p style=\'text-align: left;\'>…committed to the job with ideally no major side activities next to your studies</p><p style=\'text-align: left;\'>…socially skilled and communicating effectively in English – both spoken and written</p><p style=\'text-align: left;\'>…able to deliver what you promise</p><p style=\'text-align: left;\'>…able to take the lead if necessary</p><p style=\'text-align: left;\'>…confident and able to bring in your perspective during meetings, even with senior colleagues</p><p style=\'text-align: left;\'>…at least a second year student at Saxion in September 2021</p><p style=\'text-align: left;\'>…living in one of our Saxion locations until at least July 2022<br /><br /></p><ul style=\'text-align: left;\'><li><strong>Student Ambassadors (International applicants wanted)</strong></li></ul><p style=\'text-align: left;\'>This team will be the international face of Saxion and will be welcoming, accompanying and helping potential international students during numerous off- and online activities during their study choice and the run-up to their study at Saxion. Also the ambassadors will contribute to the content creation for our international communication channels, both by writing testimonials and starring in videos about their experiences and the international student life at Saxion. We need ambassadors from all of our English-taught study programmes. To become an international student ambassador, you need to be…</p><p style=\'text-align: left;\'>...socially skilled and communicating effectively in English – both spoken and written</p><p style=\'text-align: left;\'>…confident and outgoing while talking to different people</p><p style=\'text-align: left;\'>…willing to stand in front of both a live audience or a camera</p><p style=\'text-align: left;\'>…able to work under stress</p><p style=\'text-align: left;\'>…convinced and enthusiast about their study at Saxion</p><p style=\'text-align: left;\'>…ready to travel (depending of the Coronavirus development)</p><p style=\'text-align: left;\'>…at least a second year student at Saxion in September 2021</p><p style=\'text-align: left;\'>…ideally living in one of our Saxion locations until at least July 2022</p><p style=\'text-align: left;\'><strong>The application deadline is Monday, 5<sup>th</sup> of July</strong>. In order to apply, please fill in the application form which you can find via this link:</p><p style=\'text-align: left;\'><br /><span><a rel=\'noopener\' href=\'https://saxion.eu.qualtrics.com/jfe/form/SV_02k6SmBlfg7DLo2\' target=\'_blank\'><strong>< LINK TO THE APPLICATION FORM ></strong></a><br /><br /></span> <span><a href=\'https://saxion.eu.qualtrics.com/jfe/form/SV_02k6SmBlfg7DLo2\'></a></span></p><p style=\'text-align: left;\'>After we have received these documents and we think there might be a good fit, we would like to meet you in person (or a video conference call) for a job interview.&nbsp; Successful candidates will be offered a temporary contract within the student pool of the Saxion department OSS for a period of 1 year.</p><p style=\'text-align: left;\'>We hope to meet you soon!</p><p style=\'text-align: left;\'>The department \'Education and Student Support (OSS)\' is one of Saxion\'s supporting service departments . OSS creates the conditions in which all students can get the most out of their talent and programmes can excel. OSS is the partner for development, innovation and quality in education and research. Our student services support an optimal study career and prepare for the challenges of society. OSS is the self-evident, accessible expert and valued partner for students, study programmes and research groups ensuring access to and delivery of demonstrably high-quality education and research.</p><p style=\'text-align: left;\'>Would you like to know more about one of these roles or teams?<br />Please contact Artur Jarosiewicz, (International Student Recruiter) via <span><a href=\'mailto:a.d.jarosiewicz@saxion.nl\'>a.d.jarosiewicz@saxion.nl</a></span>.</p><p style=\'text-align: left;\'>&nbsp;</p>" _nghost-phq-c331=""><div _ngcontent-phq-c331="" class="sn-immersive-reader-button ng-star-inserted" role="button" aria-label="Immersive Reader"><img src="https://contentstorage.onenote.office.net/onenoteltir/permanent-static-resources/immersive-reader-icon.svg" alt="Immersive Reader" style="width: 20px; height: 20px; vertical-align: middle; margin-top: -2px;"></div><!----></sn-immersive-reader></span></p></div>'
        },
        {
          title: 'Re-enroll as soon as possible after 2 June',
          slug: 'news-2',
          author: 'Edwin Van Der Sar',
          image_source: 'https://cdn.dribbble.com/users/1210339/screenshots/2767019/avatar18.gif',
          content: '<div dynamic-html="" class="cms-content"><p style="text-align: left;">Will you resume your studies after the summer? Re-enroll through <a rel="noopener noreferrer" href="https://www.studielink.nl/#52" target="_blank">studielink.nl</a> as soon as possible after 2 June, so that you can continue studying at the start of the new academic year, online or in-person, without any problems.</p><p style="text-align: left;"><strong>Questions?</strong><br> Contact the Service Point or go to <a rel="noopener noreferrer" href="http://www.saxion.edu/servicepoint" target="_blank">www.saxion.edu/servicepoint</a>. &nbsp;<span><sn-immersive-reader content="<p style=\'text-align: left;\'>Will you resume your studies after the summer? Re-enroll through <a rel=\'noopener noreferrer\' href=\'https://www.studielink.nl/#52\' target=\'_blank\'>studielink.nl</a> as soon as possible after 2 June, so that you can continue studying at the start of the new academic year, online or in-person, without any problems.</p><p style=\'text-align: left;\'><strong>Questions?</strong><br /> Contact the Service Point or go to <a rel=\'noopener noreferrer\' href=\'http://www.saxion.edu/servicepoint\' target=\'_blank\'>www.saxion.edu/servicepoint</a>. &nbsp;</p>" _nghost-phq-c331=""><div _ngcontent-phq-c331="" class="sn-immersive-reader-button ng-star-inserted" role="button" aria-label="Immersive Reader"><img src="https://contentstorage.onenote.office.net/onenoteltir/permanent-static-resources/immersive-reader-icon.svg" alt="Immersive Reader" style="width: 20px; height: 20px; vertical-align: middle; margin-top: -2px;"></div><!----></sn-immersive-reader></span></p></div>'
        },
        {
          title: 'Looking for a minor?',
          slug: 'news-3',
          author: 'Matthijs De Ligt',
          image_source: 'https://www.nj.com/resizer/h8MrN0-Nw5dB5FOmMVGMmfVKFJo=/450x0/smart/cloudfront-us-east-1.images.arcpublishing.com/advancelocal/SJGKVE5UNVESVCW7BBOHKQCZVE.jpg',
          content: '<div dynamic-html="" class="cms-content"><p>Will you be taking a minor in term 1 or 2 next academic year (2021-2022)?&nbsp;Saxion University of Applied Sciences has extended the registration period until Friday 2. Good news for anyone who is still looking for a minor. Moreover, a number of popular minors now have extra spots! For example, take a look at:</p><ul style="text-align: left;"><li><a rel="noopener noreferrer" href="https://www.saxion.nl/opleidingen/minoren/digital-business-models-blockchain" target="_blank">Digital Business Models &amp; Blockchain</a></li><li><a rel="noopener noreferrer" href="https://www.saxion.nl/opleidingen/en/minoren/liberal-arts-sciences" target="_blank">Liberal Arts &amp; Sciences</a></li><li><a rel="noopener noreferrer" href="https://www.saxion.nl/opleidingen/minoren/communicatie-maakt-voor-jou-het-verschil" target="_blank">Digital Intelligence</a></li><li><a rel="noopener noreferrer" href="https://www.saxion.nl/opleidingen/minoren/supply-chain-management-scma" target="_blank">Supply Chain Management</a></li></ul><p style="text-align: left;">You can also choose from one of the other minors at Saxion. Go to&nbsp;<span><a rel="noopener noreferrer" href="https://www.saxion.nl/opleidingen/minoren/zoeken#facet_Taal=engels&amp;viewmode=0" target="_blank">saxion.nl/minors</a></span>&nbsp;to discover Saxion\'s complete (English) minors offer.<br><br></p><h6 style="text-align: left;">Are you studying elsewhere?</h6><p style="text-align: left;">Saxion offers you all kind of minors for not only our own students but also for students from other universities&nbsp;or institutes for higher education. For example&nbsp;<span><a rel="noopener noreferrer" href="https://www.saxion.nl/opleidingen/en/minoren/sustainable-beauty" target="_blank">Sustainable Beauty</a></span>,&nbsp;<span><a rel="noopener noreferrer" href="https://www.saxion.nl/opleidingen/en/minoren/conscious-business" target="_blank">Conscious Business</a></span>&nbsp;or&nbsp;<span><a rel="noopener noreferrer" href="https://www.saxion.nl/opleidingen/minoren/cyber-security" target="_blank">Cyber Security</a></span>.&nbsp;Take a look at&nbsp;<span><a rel="noopener noreferrer" href="https://www.saxion.nl/opleidingen/minoren/zoeken#facet_Doelgroep=niet-saxion-student&amp;facet_Taal=engels&amp;viewmode=0" target="_blank">Saxion.nl/minors</a></span>&nbsp;and discover all possibilities.<br><br></p><h6 style="text-align: left;">COVID-19 and starting a minor</h6><p style="text-align: left;"><span>Are you falling behind on your first year of the programme due to the COVID-19 measures? You might be able to take a minor anyway. Please contact your minor coordinator to get advice on your&nbsp;</span><span>personal situation.</span></p><p style="text-align: left;"><em>Good luck with finding an enjoyable minor at Saxion!</em><span><sn-immersive-reader content="<p>Will you be taking a minor in term 1 or 2 next academic year (2021-2022)?&nbsp;Saxion University of Applied Sciences has extended the registration period until Friday 2. Good news for anyone who is still looking for a minor. Moreover, a number of popular minors now have extra spots! For example, take a look at:</p><ul style=\'text-align: left;\'><li><a rel=\'noopener noreferrer\' href=\'https://www.saxion.nl/opleidingen/minoren/digital-business-models-blockchain\' target=\'_blank\'>Digital Business Models &amp; Blockchain</a></li><li><a rel=\'noopener noreferrer\' href=\'https://www.saxion.nl/opleidingen/en/minoren/liberal-arts-sciences\' target=\'_blank\'>Liberal Arts &amp; Sciences</a></li><li><a rel=\'noopener noreferrer\' href=\'https://www.saxion.nl/opleidingen/minoren/communicatie-maakt-voor-jou-het-verschil\' target=\'_blank\'>Digital Intelligence</a></li><li><a rel=\'noopener noreferrer\' href=\'https://www.saxion.nl/opleidingen/minoren/supply-chain-management-scma\' target=\'_blank\'>Supply Chain Management</a></li></ul><p style=\'text-align: left;\'>You can also choose from one of the other minors at Saxion. Go to&nbsp;<span><a rel=\'noopener noreferrer\' href=\'https://www.saxion.nl/opleidingen/minoren/zoeken#facet_Taal=engels&amp;viewmode=0\' target=\'_blank\'>saxion.nl/minors</a></span>&nbsp;to discover Saxion\'s complete (English) minors offer.<br /><br /></p><h6 style=\'text-align: left;\'>Are you studying elsewhere?</h6><p style=\'text-align: left;\'>Saxion offers you all kind of minors for not only our own students but also for students from other universities&nbsp;or institutes for higher education. For example&nbsp;<span><a rel=\'noopener noreferrer\' href=\'https://www.saxion.nl/opleidingen/en/minoren/sustainable-beauty\' target=\'_blank\'>Sustainable Beauty</a></span>,&nbsp;<span><a rel=\'noopener noreferrer\' href=\'https://www.saxion.nl/opleidingen/en/minoren/conscious-business\' target=\'_blank\'>Conscious Business</a></span>&nbsp;or&nbsp;<span><a rel=\'noopener noreferrer\' href=\'https://www.saxion.nl/opleidingen/minoren/cyber-security\' target=\'_blank\'>Cyber Security</a></span>.&nbsp;Take a look at&nbsp;<span><a rel=\'noopener noreferrer\' href=\'https://www.saxion.nl/opleidingen/minoren/zoeken#facet_Doelgroep=niet-saxion-student&amp;facet_Taal=engels&amp;viewmode=0\' target=\'_blank\'>Saxion.nl/minors</a></span>&nbsp;and discover all possibilities.<br /><br /></p><h6 style=\'text-align: left;\'>COVID-19 and starting a minor</h6><p style=\'text-align: left;\'><span>Are you falling behind on your first year of the programme due to the COVID-19 measures? You might be able to take a minor anyway. Please contact your minor coordinator to get advice on your&nbsp;</span><span>personal situation.</span></p><p style=\'text-align: left;\'><em>Good luck with finding an enjoyable minor at Saxion!</em></p>" _nghost-phq-c331=""><div _ngcontent-phq-c331="" class="sn-immersive-reader-button ng-star-inserted" role="button" aria-label="Immersive Reader"><img src="https://contentstorage.onenote.office.net/onenoteltir/permanent-static-resources/immersive-reader-icon.svg" alt="Immersive Reader" style="width: 20px; height: 20px; vertical-align: middle; margin-top: -2px;"></div><!----></sn-immersive-reader></span></p></div>'
        },
        {
          title: 'Invest in your future: register now for these fascinating workshops',
          slug: 'news-4',
          author: 'Luuk De Jong',
          image_source: 'https://thumbs.dreamstime.com/b/retrato-de-um-homem-novo-com-barba-e-penteado-avatar-masculino-vetor-105082137.jpg',
          content: "<div dynamic-html=\"\" class=\"cms-content\"><p>As a student, you want to be well prepared for the next step in your career. Are you considering further study, looking for a job or starting your own business? Or are you not sure yet what's best for you? Maybe you would like more insight into who you are, what you want and what you can do. Or perhaps you would just like some useful tips for your CV or cover letter. All this and more?</p><p>Saxion Career Services has arranged various workshops and events especially for you, to help you with any questions you might have related to your career. You will be informed and inspired.&nbsp; Places are limited, so please register now! Don't miss out!</p><p><strong>Workshops and online meetings</strong></p><ul><li><a rel=\"noopener noreferrer\" href=\"https://mijn.saxion.nl/students/knowledgebase/topics/in-addition-to-your-studies-studenten/help-with-your-studies/saxion-career-services?question=saxion-career-services-intercultural-communication\" target=\"_blank\">Workshop Intercultural communication</a> 11 June</li><li><a rel=\"noopener noreferrer\" href=\"https://mijn.saxion.nl/students/knowledgebase/topics/in-addition-to-your-studies-studenten/help-with-your-studies/saxion-career-services?question=saxion-career-services-career-caf%C3%A9\" target=\"_blank\">Career café</a>: get in touch with the professional field on 15 &amp; 24 June</li><li><a rel=\"noopener noreferrer\" href=\"https://mijn.saxion.nl/students/knowledgebase/topics/in-addition-to-your-studies-studenten/help-with-your-studies/saxion-career-services?question=saxion-career-services-lunch-lecture\" target=\"_blank\">Lunch Lecture</a>: Ten top tips from Recruitment&nbsp;(NL/EN) 18 June</li></ul><p><strong>Saxion Career Services</strong><br> Is our platform where students can find experts and peers who will help you find an answer to all your questions about jobs, careers, etc.</p><p><em>For more information, go to: </em><a rel=\"noopener noreferrer\" href=\"https://mijn.saxion.nl/students/knowledgebase/onderwerpen/naast-je-studie-studenten/hulp-bij-je-studie/saxion-career-services?question=\" target=\"_blank\"><em>mijnsaxion.nl/careerservices</em></a></p><p><em><br><img id=\"__mcenew\" src=\"https://cdn.synigopulse.com/media2/cms/71393/saxion-71822-ms.jpg/\" alt=\"\" data-udi=\"umb://media/50166ba7a5c745ebb36b2e3eac72016c\"></em><span><sn-immersive-reader content=\"<p>As a student, you want to be well prepared for the next step in your career. Are you considering further study, looking for a job or starting your own business? Or are you not sure yet what's best for you? Maybe you would like more insight into who you are, what you want and what you can do. Or perhaps you would just like some useful tips for your CV or cover letter. All this and more?</p><p>Saxion Career Services has arranged various workshops and events especially for you, to help you with any questions you might have related to your career. You will be informed and inspired.&nbsp; Places are limited, so please register now! Don't miss out!</p><p><strong>Workshops and online meetings</strong></p><ul><li><a rel='noopener noreferrer' href='https://mijn.saxion.nl/students/knowledgebase/topics/in-addition-to-your-studies-studenten/help-with-your-studies/saxion-career-services?question=saxion-career-services-intercultural-communication' target='_blank'>Workshop Intercultural communication</a> 11 June</li><li><a rel='noopener noreferrer' href='https://mijn.saxion.nl/students/knowledgebase/topics/in-addition-to-your-studies-studenten/help-with-your-studies/saxion-career-services?question=saxion-career-services-career-caf%C3%A9' target='_blank'>Career café</a>: get in touch with the professional field on 15 &amp; 24 June</li><li><a rel='noopener noreferrer' href='https://mijn.saxion.nl/students/knowledgebase/topics/in-addition-to-your-studies-studenten/help-with-your-studies/saxion-career-services?question=saxion-career-services-lunch-lecture' target='_blank'>Lunch Lecture</a>: Ten top tips from Recruitment&nbsp;(NL/EN) 18 June</li></ul><p><strong>Saxion Career Services</strong><br /> Is our platform where students can find experts and peers who will help you find an answer to all your questions about jobs, careers, etc.</p><p><em>For more information, go to: </em><a rel='noopener noreferrer' href='https://mijn.saxion.nl/students/knowledgebase/onderwerpen/naast-je-studie-studenten/hulp-bij-je-studie/saxion-career-services?question=' target='_blank'><em>mijnsaxion.nl/careerservices</em></a></p><p><em><br /><img id='__mcenew' src='https://cdn.synigopulse.com/media2/cms/71393/saxion-71822-ms.jpg/' alt='' data-udi='umb://media/50166ba7a5c745ebb36b2e3eac72016c' /></em></p>\" _nghost-phq-c331=\"\"><div _ngcontent-phq-c331=\"\" class=\"sn-immersive-reader-button ng-star-inserted\" role=\"button\" aria-label=\"Immersive Reader\"><img src=\"https://contentstorage.onenote.office.net/onenoteltir/permanent-static-resources/immersive-reader-icon.svg\" alt=\"Immersive Reader\" style=\"width: 20px; height: 20px; vertical-align: middle; margin-top: -2px;\"></div><!----></sn-immersive-reader></span></p></div>"
        },
        {
          title: 'Saxion Introduction Days 2021: Saxion Campsite almost open',
          slug: 'news-5',
          author: 'Luuk De Jong',
          image_source: 'https://thumbs.dreamstime.com/b/retrato-de-um-homem-novo-com-barba-e-penteado-avatar-masculino-vetor-105082137.jpg',
          content: "<div dynamic-html=\"\" class=\"cms-content\"><p><strong><img src=\"\" alt=\"Banner\" data-udi=\"umb://media/3aade3dad18949a2be9dba84d499a4d4\"></strong></p><p style=\"text-align: left;\"><strong>The results of the National Student Survey (NSE) have been published. Of all the Saxion students that participated in the survey, 70% are overall (very) satisfied with their degree programme. The satisfaction rating given by the students to Saxion is 7.3. A pleasing result, in an unusual year where most of the teaching had to be done online, due to Covid-19.</strong></p><p style=\"text-align: left;\"><em>The President of the Executive Board Anka Mulder is happy that so many students have taken the time to participate in the National Student Survey. “Feedback from our students is always valued, through the NSE or through other evaluations or questionnaires. As a higher education facility, we are proud that our students are satisfied with their degree programme.\" </em></p><p style=\"text-align: left;\"><em>Timo Kos, the Executive Board member responsible for teaching and educational support services, adds: \"We are so pleased with these grades, and so many of them too, including how at home students feel at Saxion. We did spot that there is some room for improvement. For instance </em><em>how much space students are offered to shape their own learning pathway. </em><em>We will talk to students and programme committees to discuss all the feedback, and target our improvements to the highlighted issues.<br></em></p><p style=\"text-align: left;\"><strong>Satisfaction rating for specific aspects <br></strong>The NSE also asked students to rate specific aspects of their degree programme, like the programme contents or the school vibe. It contained questions on the lecturers and the transition to the professional practice. Of all the participating Saxion students 72% was satisfied with the content of their programme. And 75% was satisfied with the school vibe.&nbsp; <br>The average score of 7.4 indicates that students are in general very pleased with their lecturers. The lecturers have specialist knowledge and make sure students feel they can ask any questions. The students rated the question whether lecturers inspire them with a 6.5. Which leaves some room for improvement. The same goes for programme timetabling: this scored a 6.8 and deserves more of our attention. This is mainly related to timely notifications of changes to the timetables. <br><br><strong>Involvement and contact<br></strong>Students appreciate the involvement and contact their degree programme offers and rate it with a 7.6. They feel safe to be themselves at Saxion, and the score given for this aspect was 8.3. They also feel at home in their degree programme (7.8). And in their experience, student feedback on the programme is welcomed (7.7).<br><br><strong>Thank you for completing the National Student Survey!</strong><br>Thank you for completing the NSE. It helps us to improve our teaching, which will ultimately be to your benefit. 41% of Saxion students participated in the research. We will keep you updated about Saxion-wide improvement efforts. Your programme will inform you on the specific scores the programme was awarded, and how these results will be actioned.</p><p style=\"text-align: left;\">(Click to see the infographic)</p><p style=\"text-align: left;\"><a rel=\"noopener\" href=\"https://saxion.sharepoint.com/:b:/r/sites/site000001/Nieuws%20Saxionbreed/Nieuws%20Engels%20-%20studenten/ENG%20-%20Infographic%20NSE%20-%20Saxion-breed%20(ingevuld%202021)%20(1).pdf?csf=1&amp;web=1&amp;e=cGThEE?csf=1&amp;web=1&amp;e=26REVh\" target=\"_blank\" data-anchor=\"?csf=1&amp;web=1&amp;e=26REVh\"><img src=\"https://cdn.synigopulse.com/media2/cms/71816/nse-cijfers-uitsnede-eng.png/?width=386&amp;height=233&amp;mode=max\" alt=\"Infographic\" width=\"386\" height=\"233\" data-udi=\"umb://media/7ab3a5f3380f44ec80402abb4d9ec9d6\"> <img src=\"https://mijn.saxion.nl/content/images/icons/pdf.png\" class=\"inline-icon\"></a></p><p style=\"text-align: left;\"><strong>What is the NSE? </strong></p><p style=\"text-align: left;\">The Dutch National Student Survey (NSE) is a large national survey which ran from mid January to mid March 2021, to ask students in higher education their opinion on their degree programme and their school. This year the NSE questionnaire was revised and renewed. That means it is hard to compare the 2021 NSE results to those of 2018. The NSE is run by Studiekeuze123, an independent foundation funded by the Dutch Ministry of Education, Culture and Science. You can find more information on the <span><a rel=\"noopener\" href=\"https://www.studiekeuze123.nl/nse\" target=\"_blank\">Studiekeuze123 website</a></span>.</p><p>&nbsp;<span><sn-immersive-reader content=\"<p><strong><img src='https://cdn.synigopulse.com/media2/cms/71814/nse-banner-eng.png/' alt='Banner' data-udi='umb://media/3aade3dad18949a2be9dba84d499a4d4' /></strong></p><p style='text-align: left;'><strong>The results of the National Student Survey (NSE) have been published. Of all the Saxion students that participated in the survey, 70% are overall (very) satisfied with their degree programme. The satisfaction rating given by the students to Saxion is 7.3. A pleasing result, in an unusual year where most of the teaching had to be done online, due to Covid-19.</strong></p><p style='text-align: left;'><em>The President of the Executive Board Anka Mulder is happy that so many students have taken the time to participate in the National Student Survey. “Feedback from our students is always valued, through the NSE or through other evaluations or questionnaires. As a higher education facility, we are proud that our students are satisfied with their degree programme.' </em></p><p style='text-align: left;'><em>Timo Kos, the Executive Board member responsible for teaching and educational support services, adds: 'We are so pleased with these grades, and so many of them too, including how at home students feel at Saxion. We did spot that there is some room for improvement. For instance </em><em>how much space students are offered to shape their own learning pathway. </em><em>We will talk to students and programme committees to discuss all the feedback, and target our improvements to the highlighted issues.<br /></em></p><p style='text-align: left;'><strong>Satisfaction rating for specific aspects <br /></strong>The NSE also asked students to rate specific aspects of their degree programme, like the programme contents or the school vibe. It contained questions on the lecturers and the transition to the professional practice. Of all the participating Saxion students 72% was satisfied with the content of their programme. And 75% was satisfied with the school vibe.&nbsp; <br />The average score of 7.4 indicates that students are in general very pleased with their lecturers. The lecturers have specialist knowledge and make sure students feel they can ask any questions. The students rated the question whether lecturers inspire them with a 6.5. Which leaves some room for improvement. The same goes for programme timetabling: this scored a 6.8 and deserves more of our attention. This is mainly related to timely notifications of changes to the timetables. <br /><br /><strong>Involvement and contact<br /></strong>Students appreciate the involvement and contact their degree programme offers and rate it with a 7.6. They feel safe to be themselves at Saxion, and the score given for this aspect was 8.3. They also feel at home in their degree programme (7.8). And in their experience, student feedback on the programme is welcomed (7.7).<br /><br /><strong>Thank you for completing the National Student Survey!</strong><br />Thank you for completing the NSE. It helps us to improve our teaching, which will ultimately be to your benefit. 41% of Saxion students participated in the research. We will keep you updated about Saxion-wide improvement efforts. Your programme will inform you on the specific scores the programme was awarded, and how these results will be actioned.</p><p style='text-align: left;'>(Click to see the infographic)</p><p style='text-align: left;'><a rel='noopener' href='https://saxion.sharepoint.com/:b:/r/sites/site000001/Nieuws%20Saxionbreed/Nieuws%20Engels%20-%20studenten/ENG%20-%20Infographic%20NSE%20-%20Saxion-breed%20(ingevuld%202021)%20(1).pdf?csf=1&amp;web=1&amp;e=cGThEE?csf=1&amp;web=1&amp;e=26REVh' target='_blank' data-anchor='?csf=1&amp;web=1&amp;e=26REVh'><img src='https://cdn.synigopulse.com/media2/cms/71816/nse-cijfers-uitsnede-eng.png/?width=386&amp;height=233&amp;mode=max' alt='Infographic' width='386' height='233' data-udi='umb://media/7ab3a5f3380f44ec80402abb4d9ec9d6' /></a></p><p style='text-align: left;'><strong>What is the NSE? </strong></p><p style='text-align: left;'>The Dutch National Student Survey (NSE) is a large national survey which ran from mid January to mid March 2021, to ask students in higher education their opinion on their degree programme and their school. This year the NSE questionnaire was revised and renewed. That means it is hard to compare the 2021 NSE results to those of 2018. The NSE is run by Studiekeuze123, an independent foundation funded by the Dutch Ministry of Education, Culture and Science. You can find more information on the <span><a rel='noopener' href='https://www.studiekeuze123.nl/nse' target='_blank'>Studiekeuze123 website</a></span>.</p><p>&nbsp;</p>\" _nghost-phq-c331=\"\"><div _ngcontent-phq-c331=\"\" class=\"sn-immersive-reader-button ng-star-inserted\" role=\"button\" aria-label=\"Immersive Reader\"><img src=\"https://contentstorage.onenote.office.net/onenoteltir/permanent-static-resources/immersive-reader-icon.svg\" alt=\"Immersive Reader\" style=\"width: 20px; height: 20px; vertical-align: middle; margin-top: -2px;\"></div><!----></sn-immersive-reader></span></p></div>"
        }
      ]
    }
  },
  computed: {
    newsItem: function () {
      if(this.$route.params.id === undefined){
        this.$router.push('news/news-1') // redirect
      }
      const test = this.newsItems.filter(el => el.slug === this.$route.params.id)
      return test[0]
    }
  },

  watch: {
    $route: {
      handler: (to, from) => {
        document.title = to.meta.title || 'Your Website'
      },
      immediate: true
    }
  }

}
</script>

<style scoped>

</style>
