<template>
  <div>

    <v-container class="grey lighten-5">
      <v-row no-gutters>
        <v-col
          class=""
          lg="4"
          md="4"
        >
          <NewsMenuKeith v-bind:newsItems="newsItems"></NewsMenuKeith>

        </v-col>

        <v-col
          class=""
          lg="8"
          md="8"
        >
          <NewsDetailsKeith v-bind:newsItem="newsItem"></NewsDetailsKeith>

        </v-col>

      </v-row>
    </v-container>

  </div>
</template>

<script>
import NewsDetailsKeith from '../components/NewsDetailsKeith'
import NewsMenuKeith from '../components/NewsMenuKeith'

export default {
  name: 'NewsViewKeith',
  components: { NewsMenuKeith, NewsDetailsKeith },
  data () {
    return {
      newsItems: [
        { title: 'news 1', slug: 'news-1', content: 'news 1 details' },
        { title: 'news 2', slug: 'news-2', content: 'news 2 details' },
        { title: 'news 3', slug: 'news-3', content: 'news 3 details' },
        { title: 'news 4 drinking', slug: 'corona-news', content: 'corona is beer' }
      ]
    }
  },
  computed: {
    newsItem: function () {
      const test = this.newsItems.filter(el => el.slug === this.$route.params.id)
      return test[0]
    }
  }

}
</script>

<style scoped>

</style>
