/**
 * Colors
 */
$green: #CAF8C7;
$red: #F0C4A4;
$blue: #8ACBD3;
$ocean: #5C97BF;
//$denim:   #6C7A89;
$denim: #15A563;

$black: #000;
$dark-grey: #788181;
$medium-grey: #ABB7B7;
$grey: #C1C1C1;
$neutral-grey: #ECECEC;
$light-grey: #ECF0F1;
$white: #FFFFFF;

$shadow: rgba(112, 112, 112, 0.45);
